In [36]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import re
import requests
import pandas as pd

In [52]:
def job_offers_wtj(
        job_title: str = "data analyst",
        pages: int = 1
):
    """
    ---
    Web scraping WTJ
    ---
    Lance un navigateur et créée un dataframe contenant les informations de
    chaque offre d'emploi pour un nombre de pages définis sur le site
    Welcome To The Jungle.
    ---
    Paramètres :
    - job_title: str : Le nom du métier pour lequel rechercher des offres.
    - pages: int : Le nombre de pages sur lesquels rechercher les offres.
    ---
    Retourne :
    - Le df contenant les informations de toute les offres récupérées.
    """
    # Instanciation de la liste contenant les liens pour les requêtes APIs.
    api_links = []
    # Lien de l'API de Welcome To The Jungle pour récupérer les données.
    api_link = f"https://api.welcometothejungle.com/api/v1/organizations"
    job = job_title.lower().replace(" ", "+")
    # Instanciation du driver Firefox.
    driver = webdriver.Firefox()
    # Instanciation du dataframe final.
    full_df = pd.DataFrame()
    # Nom des colonnes à garder dans le dataframe final.
    cols_to_keep = [
        "name",
        "salary_period",
        "experience_level",
        "apply_url",
        "contract_duration_min",
        "office.city",
        "office.address",
        "office.district",
        "office.latitude",
        "office.longitude",
        "office.zip_code",
        "profession.category.fr",
        "profession.name.fr"
        "name",
        "education_level",
        "application_fields.mode",
        "application_fields.name",
        "description",
        "organization.average_age",
        "organization.creation_year",
        "organization.default_language",
        "organization.description",
        "organization.industry",
        "organization.nb_employee",
        "contract_type",
        "salary_min",
        "salary_max",
        "education_level",
        "remote"
    ]
    try:
        for i in range(1, pages+1):
            url = f"https://www.welcometothejungle.com/fr/jobs?refinementList%5Boffices.country_code%5D%5B%5D=FR&query={job}&page={i}"
            # Ouvre chaque page sur le navigateur.
            driver.get(url)
            try:
                # Récupère le lien de chaque offre d'emploi sur la page.
                contents = WebDriverWait(driver, 20).until(
                    EC.presence_of_all_elements_located((By.CSS_SELECTOR, ".sc-6i2fyx-0.gIvJqh"))
                )
                for content in contents:
                    link = content.get_attribute("href")
                    end_link = re.findall(r"/companies(.+)", link)[0]
                    full_link = api_link + end_link
                    # Rajoute le lien de chaque offre à la liste.
                    api_links.append(full_link)
            except Exception as e:
                print(f"Error scraping page {i} : {e}")
    finally:
        driver.quit()
    # Pour chaque lien de la liste, fait une requête API et stocke les informations dans un dataframe.
    for link_ in api_links:
        r = requests.get(link_)
        df = pd.json_normalize(
            r.json()["job"]
        )
        full_df = pd.concat([full_df, df], ignore_index=True)
    # Instanciation de la liste des colonnes à drop.
    cols_to_drop = [col for col in full_df.columns if col not in cols_to_keep]
    df = full_df.drop(columns=cols_to_drop)
    return df

In [53]:
df = job_offers_wtj("data analyst", 1)

In [28]:
from bs4 import BeautifulSoup
import pandas as pd
def clean_html(text):
    soup = BeautifulSoup(text, "html.parser")
    cleaned_text = soup.get_text(separator=" ")
    cleaned_text = cleaned_text.replace("\xa0", " ")
    return cleaned_text

df["description"] = df["description"].apply(clean_html)
df["organization.description"] = df["organization.description"].apply(clean_html)

In [47]:
api_links

['https://api.welcometothejungle.com/api/v1/organizations/margo/jobs/margo-analytics-data-engineer-h-f_paris?q=b7df709151a656b71b49ca574a776b75&o=579036&p=true',
 'https://api.welcometothejungle.com/api/v1/organizations/wttj/jobs/team-lead-data-engineering_paris?q=b7df709151a656b71b49ca574a776b75&o=1803168&p=true',
 'https://api.welcometothejungle.com/api/v1/organizations/matera/jobs/data-analyst-stage-de-6-mois_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2228430',
 'https://api.welcometothejungle.com/api/v1/organizations/ermeo/jobs/data-analyst-stage-de-fin-d-etude_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=1979955',
 'https://api.welcometothejungle.com/api/v1/organizations/vente-unique/jobs/data-analyst-h-f_paris_VENTE_Z8zwM1o?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2293214',
 'https://api.welcometothejungle.com/api/v1/organizations/stockly/jobs/data-analyst-internship-paris_paris_STOCK_mzKkzAJ?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2269637',
 'https://api.welcometothejungle.com/api/v1/organizations/compass-group/jobs/controleur-de-gestion-data-analyst-cuisine-centrale-h-f-cdi_chatillon_CGF_klRqKKg?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2293078',
 'https://api.welcometothejungle.com/api/v1/organizations/pretto/jobs/operations-data-analyst-stage-h-f_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2185053',
 'https://api.welcometothejungle.com/api/v1/organizations/wild-code-school/jobs/formateur-trice-data-analyst-cdi-100-teletravail_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2163851',
 'https://api.welcometothejungle.com/api/v1/organizations/wivoo/jobs/consutlant-senior-data-analyst_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2069651',
 'https://api.welcometothejungle.com/api/v1/organizations/foxintelligence/jobs/marketing-data-analyst-intern_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=900567',
 'https://api.welcometothejungle.com/api/v1/organizations/foxintelligence/jobs/data-analyst-strategy-operations_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=504298',
 'https://api.welcometothejungle.com/api/v1/organizations/foxintelligence/jobs/data-analyst_paris_FOXIN_X359ep?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2255808',
 'https://api.welcometothejungle.com/api/v1/organizations/my-job-glasses/jobs/analytics-engineer-2_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2248347',
 'https://api.welcometothejungle.com/api/v1/organizations/molotov/jobs/lead-data-analyst-engineer-cdi-f-m_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2232966',
 'https://api.welcometothejungle.com/api/v1/organizations/papernest/jobs/data-analyst-stage-paris_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2165303',
 'https://api.welcometothejungle.com/api/v1/organizations/foxintelligence/jobs/data-analys-stage_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=1900487',
 'https://api.welcometothejungle.com/api/v1/organizations/foxintelligence/jobs/lead-data-analytics-engineer_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=1392923',
 'https://api.welcometothejungle.com/api/v1/organizations/banque-de-france/jobs/data-analyst-services-bancaires-h-f_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2168494',
 'https://api.welcometothejungle.com/api/v1/organizations/garance-mutuelle/jobs/data-analyst-f-h-x_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2292329',
 'https://api.welcometothejungle.com/api/v1/organizations/betclic/jobs/stage-data-analyst-h-f_bordeaux_BG_jlQZLga?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2171426',
 'https://api.welcometothejungle.com/api/v1/organizations/groupe-tf1/jobs/cdi-product-data-analyst-h-f_boulogne-billancourt_GT_0axKp7k?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2292138',
 'https://api.welcometothejungle.com/api/v1/organizations/thales/jobs/ingenieur-data-analyst-f-h_velizy-villacoublay?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2169082',
 'https://api.welcometothejungle.com/api/v1/organizations/equativ/jobs/data-analyst-internship_paris_EQUAT_9m16761?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=1902094',
 'https://api.welcometothejungle.com/api/v1/organizations/voodoo/jobs/senior-game-data-analyst_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=1452134',
 'https://api.welcometothejungle.com/api/v1/organizations/axa/jobs/data-privacy-analyst-f-h_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2291685',
 'https://api.welcometothejungle.com/api/v1/organizations/groupe-casino/jobs/stage-jt-data-analyst-scientist-leader-price-f-h_vitry-sur-seine?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2168390',
 'https://api.welcometothejungle.com/api/v1/organizations/nicomatic/jobs/data-analyst-expert-power-bi_bons-en-chablais?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=1993431',
 'https://api.welcometothejungle.com/api/v1/organizations/cdiscount/jobs/data-analyst-marketing-digital-f-h_bordeaux-33?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2291201',
 'https://api.welcometothejungle.com/api/v1/organizations/elevate/jobs/consultant-data-analyst_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=417130',
 'https://api.welcometothejungle.com/api/v1/organizations/elevate/jobs/consultant-e-data-analyst-senior-f-h_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=420089',
 'https://api.welcometothejungle.com/api/v1/organizations/lesfurets/jobs/senior-data-analyst-h-f-nb_paris?q=ea94e9f6f4fa93da7f238e35ed2f633c&o=2232876']

In [26]:
df.iloc[0]["description"]

"Margo Analytics est l'entité experte  de Margo Group des problématiques  Data, Cloud et DevOps  créée en 2020 par leurs fondateurs Raphaël et Mounir. Aujourd’hui  60 consultants  ont intégré l'entité et nous avons commencé à travailler avec  18 nouveaux clients  (Banque, Industrie, Assurance, Énergie, E commerce, Santé). A leurs côtés, vous pourrez évoluer rapidement et développer de nouvelles compétences.  Deux ADN fondateurs forts  et spécifiques à Margo Analytics à l’origine de l’entité : -  Toujours se positionner sur  les plus beaux sujets  et sur les  missions à fortes valeurs ajoutées -  Recruter  des  consultants passionnés  et  curieux  qui cherchent à être  challengés  Aujourd’hui, Margo Analytics possède  4 communautés  de compétences :  - Data engineer   - Data Science/ IA  - Galaxy OPS (devOps, dataOps, cloudOps) - Architecte Big Data  Ainsi en rejoignant Margo Analytics vous aurez le choix des missions (#consultantfirst) sur lesquelles vous souhaitez travailler. Vous serez accompagné par les deux fondateurs ainsi que par le leader de votre communauté, dont les rôles sont de rechercher le projet qui correspondra le plus à vos attentes et de vous accompagner dans votre carrière. 🎯 Les missions Margo Analytics  :  Au sein de la communauté Data Engineer  vos missions   seront  :  -  Développer en mode agile  les cas d’usages métier  - Mettre en place des  processus de collecte, d’organisation, de stockage et de modélisation des données   - Développer des traitements de transformation et de production de données  - Assurer la  mise en production des modèles de prédiction  créés par les Data Scientists  - Participer à l’ amélioration continue  et au refactoring de code Besoin de projection ? Voici un exemple de mission :  Camille accompagne un grand compte dans le domaine de l’industrie sur son projet de mise en place d’un nouveau datalake en Azure databricks. L’objectif de cette mission est d’assurer la distribution de la donnée de manière optimisée pour créer une couche de distribution et permettre aux Data Scientists d’implémenter les use cases. Camille apporte son expertise sur les technologies suivantes : Spark, Scala, Azure, Databricks. Nos stack Technique :  - Langage : Python/Scala/Java - Framework : Spark/Hadoop  - Cloud: Azure/ AWS/ GCP  🙌 Les avantages :  - Tickets restaurants Swile  - Mutuelle Alan prise en charge à 100% - Pass Navigo pris en charge à 100% - Télétravail - Formations illimitées - Locaux en plein coeur de Paris - Places en crèches  🤝Notre processus de recrutement :   Notre processus de recrutement se fait en 3 étapes, réparties sur 7 à 15 jours maximum :  - Première rencontre !  Vous échangez avec un RH et un dirigeant sur votre parcours, vos aspirations professionnelles ainsi que sur Margo Analytics et les opportunités que nous proposons -   Challengez-vous  dans le cadre d’un entretien technique avec l’un de nos experts. C’est également l’occasion pour vous d’avoir son retour d’expérience - Dernier entretien de motivation  : pour finir, vous rencontrez un membre du board de Margo Analytics pour un entretien final  🔍 Vous êtes un(e) futur(e) Margo Analytics si :   Must-Have Vous êtes issu(e) d’une école d’ingénieur ou d’un cursus universitaire équivalent niveau  Bac + 5  / Master Vous aimez coder et vous êtes passionné(e) d’informatique et de Data Vous êtes curieux(se) et vous vous intéressez aux dernières technologies du marché Vous justifiez d’une première expérience en tant que Data Engineer Nice to Have Vous êtes ambitieux(se) et n’avez pas peur de travailler sur des projets challengeants dans des environnements à fortes contraintes techniques . Vous parlez et comprenez l’anglais.  "

In [29]:
df.head()

,salary_max,apply_url,description,contract_type,contract_duration_min,salary_min,education_level,experience_level,salary_period,remote,profession.category.fr,office.address,office.city,office.district,office.latitude,office.longitude,office.zip_code,organization.average_age,organization.creation_year,organization.default_language,organization.description,organization.industry
0,None,https://jobs.lever.co/margo-group/dfd990e5-a46...,Margo Analytics est l'entité experte de Margo...,FULL_TIME,None,None,BAC_5,None,none,partial,Tech,"1, Rue de Saint-Pétersbourg, Paris",Paris,Paris,48.879700,2.323810,75008,30,2005,fr,"Plus qu’un simple groupe de conseil IT, MARGO ...","Software, IT / Digital"
1,None,None,The Data team at Welcome to the Jungle: Part o...,FULL_TIME,None,None,None,None,none,fulltime,Tech,"24, Rue du Mail, Paris",Paris,Paris,48.866950,2.343140,75002,32,2015,en,Welcome to the Jungle’s mission is simple: to ...,"Media, Recruitment"
2,1200,https://matera.recruitee.com/o/data-analyst-st...,Afin de mieux comprendre nos clients et leurs ...,INTERNSHIP,5,1000,BAC_5,LESS_THAN_6_MONTHS,none,punctual,Tech,"10, Rue Treilhard, Paris",Paris,Paris,48.877120,2.314520,75008,30,2017,fr,"Matera réinvente notre rapport au logement, en...","SaaS / Cloud Services, Commercial Real Estate,..."
3,None,None,As Data Analyst you will perform in-depth data...,INTERNSHIP,6,None,BAC_5,LESS_THAN_6_MONTHS,none,partial,Tech,157 boulevard macdonald,Paris,Paris,48.898163,2.378094,75019,28,2015,en,Causeway Technologies SAS based in Paris provi...,"Mobile Apps, Organization / Management, SaaS /..."
4,None,https://careers.flatchr.io/vacancy/jaonxpv16ma...,Descriptif du poste : Nous recherchons notre...,FULL_TIME,None,None,BAC_5,2_TO_3_YEARS,none,punctual,Tech,None,Paris,Paris,48.883950,2.385630,75019,31,2006,fr,"🚀 Pure player visionnaire, Vente-unique a été ...","Lifestyle, E-commerce"