In [3]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import re
import requests
import pandas as pd

In [4]:
def job_offers_wtj(
        job_title: str = "data analyst",
        pages: int = 1
):
    """
    ---
    Web scraping WTJ
    ---
    Lance un navigateur et cr√©√©e un dataframe contenant les informations de
    chaque offre d'emploi pour un nombre de pages d√©finis sur le site
    Welcome To The Jungle.
    ---
    Param√®tres :
    - job_title: str : Le nom du m√©tier pour lequel rechercher des offres.
    - pages: int : Le nombre de pages sur lesquels rechercher les offres.
    ---
    Retourne :
    - Le df contenant les informations de toute les offres r√©cup√©r√©es.
    """
    # Instanciation de la liste contenant les liens pour les requ√™tes APIs.
    api_links = []
    # Lien de l'API de Welcome To The Jungle pour r√©cup√©rer les donn√©es.
    api_link = f"https://api.welcometothejungle.com/api/v1/organizations"
    job = job_title.lower().replace(" ", "+")
    # Instanciation du driver Firefox.
    driver = webdriver.Firefox()
    # Instanciation du dataframe final.
    full_df = pd.DataFrame()
    # Nom des colonnes √† garder dans le dataframe final.
    cols_to_keep = [
        "name",
        "salary_period",
        "experience_level",
        "apply_url",
        "contract_duration_min",
        "office.city",
        "office.address",
        "office.district",
        "office.latitude",
        "office.longitude",
        "office.zip_code",
        "profession.category.fr",
        "profession.name.fr"
        "name",
        "education_level",
        "application_fields.mode",
        "application_fields.name",
        "description",
        "organization.average_age",
        "organization.creation_year",
        "organization.default_language",
        "organization.description",
        "organization.industry",
        "organization.nb_employee",
        "contract_type",
        "salary_min",
        "salary_max",
        "education_level",
        "remote"
    ]
    try:
        for i in range(1, pages+1):
            url = f"https://www.welcometothejungle.com/fr/jobs?refinementList%5Boffices.country_code%5D%5B%5D=FR&query={job}&page={i}"
            # Ouvre chaque page sur le navigateur.
            driver.get(url)
            try:
                # R√©cup√®re le lien de chaque offre d'emploi sur la page.
                contents = WebDriverWait(driver, 20).until(
                    EC.presence_of_all_elements_located((By.CSS_SELECTOR, ".sc-6i2fyx-0.gIvJqh"))
                )
                for content in contents:
                    link = content.get_attribute("href")
                    end_link = re.findall(r"/companies(.+)", link)[0]
                    full_link = api_link + end_link
                    # Rajoute le lien de chaque offre √† la liste.
                    api_links.append(full_link)
            except Exception as e:
                print(f"Error scraping page {i} : {e}")
    finally:
        driver.quit()
    # Pour chaque lien de la liste, fait une requ√™te API et stocke les informations dans un dataframe.
    for link_ in api_links:
        r = requests.get(link_)
        df = pd.json_normalize(
            r.json()["job"]
        )
        full_df = pd.concat([full_df, df], ignore_index=True)
    # Instanciation de la liste des colonnes √† drop.
    cols_to_drop = [col for col in full_df.columns if col not in cols_to_keep]
    df = full_df.drop(columns=cols_to_drop)
    return df

In [5]:
df = job_offers_wtj("data analyst", 1)

In [6]:
from bs4 import BeautifulSoup
import pandas as pd
def clean_html(text):
    soup = BeautifulSoup(text, "html.parser")
    cleaned_text = soup.get_text(separator=" ")
    cleaned_text = cleaned_text.replace("\xa0", " ")
    return cleaned_text

df["description"] = df["description"].apply(clean_html)
df["organization.description"] = df["organization.description"].apply(clean_html)

In [7]:
df.to_csv("WTT_offers.csv")

In [8]:
df

,contract_type,name,description,salary_max,apply_url,salary_period,experience_level,salary_min,education_level,remote,...,organization.creation_year,organization.default_language,organization.description,organization.industry,office.address,office.city,office.district,office.latitude,office.longitude,office.zip_code
0,FULL_TIME,Margo Analytics - Data Engineer - H/F,Margo Analytics est l'entit√© experte de Margo...,None,https://jobs.lever.co/margo-group/dfd990e5-a46...,none,None,None,BAC_5,partial,...,2005,fr,"Plus qu‚Äôun simple groupe de conseil IT, MARGO ...","Software, IT / Digital","1, Rue de Saint-P√©tersbourg, Paris",Paris,Paris,48.879700,2.323810,75008
1,FULL_TIME,Manager - Data & Analytics Engineering,The Data team at Welcome to the Jungle: Part o...,None,None,none,None,None,None,fulltime,...,2015,en,Welcome to the Jungle‚Äôs mission is simple: to ...,"Media, Recruitment","24, Rue du Mail, Paris",Paris,Paris,48.866950,2.343140,75002
2,INTERNSHIP,Stage - Data Analyst sur le SIRH F/H,Votre profil ‚ÄúNous serons heureux de t‚Äôaccueil...,1600,http://app.mytalentplug.com/redirection.aspx?o...,monthly,LESS_THAN_6_MONTHS,600,BAC_2,no,...,1994,fr,Orange a besoin de vous pour conqu√©rir de nouv...,"Connected Objects, Big Data, Electronics / Tel...",None,Cesson-S√©vign√©,Ille-et-Vilaine,48.123778,-1.605273,35510
3,FULL_TIME,Data Analyst @eXalt Lille,eXalt Lille recherche son/sa nouveau/elle Dat...,40,None,yearly,3_TO_4_YEARS,37,BAC_5,punctual,...,2018,fr,"eXalt est une formidable aventure humaine, une...",IT / Digital,"19, Rue d'Amiens, Lille",Lille,Nord,50.633880,3.064180,59800
4,FULL_TIME,Senior Data Analyst,√Ä propos des Data Analysts ü¶∏ Rattach√© √† l'√©qui...,None,https://careers.ornikar.com/jobs/3317886-senio...,none,None,None,None,partial,...,2013,fr,Ornikar‚Äôs team dedicates its mission to transf...,"Mobility, FinTech / InsurTech, EdTech",WeWork Boulevard de la Villette,Paris,Paris,48.884360,2.366840,75019
5,FULL_TIME,Senior Data Analyst - Assurance,√Ä propos de l'√©quipe Data ü¶∏ Les Data Analysts ...,None,https://careers.ornikar.com/jobs/3187506-senio...,none,5_TO_7_YEARS,None,None,partial,...,2013,fr,Ornikar‚Äôs team dedicates its mission to transf...,"Mobility, FinTech / InsurTech, EdTech",WeWork Boulevard de la Villette,Paris,Paris,48.884360,2.366840,75019
6,INTERNSHIP,Data Analyst - Internship - Paris,About Stockly Stockly is a retail-tech company...,2000,None,monthly,None,1500,BAC_4,punctual,...,2018,fr,üî≠ Stockly is a tech-retail company solving...,"Software, E-commerce","8, Rue du Sentier, Paris",Paris,Paris,48.868570,2.345700,75002
7,INTERNSHIP,Data Analyst - Stage - Paris,Travailler chez papernest : d√©finition. Cer...,None,https://careers.papernest.com/jobs/3240543-dat...,none,None,None,None,partial,...,2015,en,We are papernest Our ambition? To be the one a...,"Mobile Apps, Commercial Real Estate, Residenti...",157 boulevard Macdonald,Paris,Paris,48.898163,2.378094,75019
8,FULL_TIME,Data Analyst H/F,En lien avec l‚Äôaugmentation de son portefeuill...,42000,None,yearly,3_TO_4_YEARS,37000,BAC_5,punctual,...,2008,fr,Plateforme Saas de s√©curisation des risques B2...,SaaS / Cloud Services,"20, Boulevard Eug√®ne Deruelle, Lyon",Lyon,Rh√¥ne,45.762820,4.853960,69003
9,FULL_TIME,Senior ESG Data Scientist/Analyst,"En forte phase de croissance, WeeFin renforce ...",None,None,none,None,None,None,partial,...,2018,fr,üöÄ WeeFin est une fintech √† impact cr√©√©e en 201...,"Strategy, Change Management, FinTech / InsurTech","45, Rue des Petites √âcuries, Paris",Paris,Paris,48.873840,2.349630,75010
10,INTERNSHIP,Data Analyst (H/F) - Stage,Tu seras charg√©.e de transformer la donn√©e uti...,1600,None,monthly,6_MONTHS_TO_1_YEAR,1000,BAC_5,partial,...,2017,fr,Hello Watt est la plateforme pour faire la tr...,"Environment / Sustainable Development, Energy,...",48 rue ren√© clair,Paris,Paris,48.893798,2.354265,75018
11,INTERNSHIP,Data Analyst Environnement [Stage 5 mois minimum],"Au sein du P√¥le Engineering , tu cotoyeras l‚Äô√©...",1000,None,monthly,None,1000,BAC_5,partial,...,2017,fr,"Chez iNex, notre passion commune est de cataly...",SocialTech / GreenTech,45 Rue la Condamine,Paris,Paris,48.886030,2.322050,75017
12,FULL_TIME,Data Analyst,"Nous recherchons un Data Analyst, pour rejoind...",None,None,none,2_TO_3_YEARS,None,BAC_5,punctual,...,2018,fr,"Apr√®s 4 ans de d√©veloppement, plus de 55 000 a...","Artificial Intelligence / Machine Learning, En...","21, Rue de Cl√©ry, Paris",Paris,Paris,48.868110,2.346430,75002
13,INTERNSHIP,Operations & Data analyst - stage H/F,üéØ Nous rejoindre en tant que Operations & Data...,None,https://jobs.lever.co/Pretto/e56af921-6cd9-447...,none,None,None,None,no,...,2017,fr,Qui sommes-nous chez Pretto ? L‚Äôachat immobili...,"FinTech / InsurTech, Residential Real Estate","42, Rue de Paradis, Paris",Paris,Paris,48.875500,2.350310,75010
14,FULL_TIME,Senior Data Analyst: Business & Operations,"Fintech fond√©e en mars 2016, Mooncard est un l...",None,https://careers.mooncard.co/jobs/3299003-senio...,yearly,3_TO_4_YEARS,None,BAC_5,partial,...,2016,fr,"Mooncard, une Fintech leader dans son domaine,...","Banking, IT / Digital, Big Data","4, Rue Jules Lefebvre, Paris",Paris,Paris,48.880550,2.327650,75009
15,FULL_TIME,Data Analyst - Gestion D√©l√©gu√©e - CDI H/F,Groupama Gan Vie confie une part de sa gestion...,55000,http://app.mytalentplug.com/redirection.aspx?o...,yearly,5_TO_7_YEARS,45000,BAC_5,fulltime,...,2010,fr,"Nous, c‚Äôest GGVie, l‚Äôunique soci√©t√© d‚Äôassuranc...",Insurance,"4, Boulevard de Pesaro, Nanterre",Nanterre,Hauts-de-Seine,48.896960,2.220010,92000
16,INTERNSHIP,Stage - Airport Data Analyst F/H,Rattach√© √† la Direction G√©n√©rale des Op√©ration...,None,http://app.mytalentplug.com/redirection.aspx?o...,none,LESS_THAN_6_MONTHS,None,BAC_4,partial,...,1945,fr,"Le Groupe ADP con√ßoit, am√©nage et g√®re des a√©r...","Architecture, Logistics, Aeronautics / Space",1 Rue de France,Tremblay-En-France,Seine-Saint-Denis,49.010174,2.555328,93290
17,FULL_TIME,ESG Analyst,Assess companies‚Äô environmental footprint on s...,None,None,none,6_MONTHS_TO_1_YEAR,None,BAC_5,punctual,...,2019,fr,"Get your resume ready, because you can help an...",FinTech / InsurTech,"48, Boulevard des Batignolles, Paris",Paris,Paris,48.882720,2.322450,75017
18,INTERNSHIP,Data Analyst Internship,"About the offer: Within your internship, you w...",None,None,none,None,None,None,punctual,...,2020,fr,"Hyxos, c‚Äôest l‚Äôintelligence logicielle au serv...","Software, Connected Objects, Energy",80 Rue Saint-Lazare,Paris,Paris,48.876040,2.329760,75009
19,FULL_TIME,Data Analyst,√ätre Data Analyst chez Wewyse c‚Äôest : Int√©gr...,None,None,none,None,None,None,punctual,...,2019,fr,"Wewyse est le cabinet de conseil de Wemanity, ...","Digital Marketing / Data Marketing, IT / Digit...","33, Rue de Ch√¢teaudun, Paris",Paris,Paris,48.876000,2.336680,75009
20,TEMPORARY,CDD - Charg√©(e) de Reporting Risque (Data anal...,Charg√©(e) de Reporting Risque (Data analyst) H...,None,https://www.aplitrak.com/?adid=TG91aXNlLkJla3J...,yearly,1_TO_2_YEARS,None,BAC_5,no,...,2000,fr,Acteur majeur de la sc√®ne financi√®re europ√©enn...,Banking,12-147 rue du Port,Nanterre,Hauts-de-Seine,48.894160,2.178180,None
21,INTERNSHIP,STAGE - Data Analyst (H/F) - NANTES,Poste et missions Int√©grez la Plateforme Dist...,None,https://www.aplitrak.com/?adid=dGVhbS40NjY4MS4...,yearly,LESS_THAN_6_MONTHS,None,BAC_5,no,...,2009,fr,"Au sein du Groupe BPCE, venez d√©couvrir un cha...","Banking, FinTech / InsurTech, Finance",None,Nantes,Loire-Atlantique,47.183200,-1.517240,44200
22,INTERNSHIP,Stage (6 mois) - Data Analyst F/H - Paris,Poste et missions Vous rejoignez la Direction ...,None,https://www.aplitrak.com/?adid=YnBjZS41MzgwMC4...,yearly,LESS_THAN_6_MONTHS,None,BAC_5,no,...,2009,fr,"Au sein du Groupe BPCE, venez d√©couvrir un cha...","Banking, FinTech / InsurTech, Finance",None,Paris,Paris,48.849260,2.332100,75006
23,FULL_TIME,Data Analyst @eXalt Lille,eXalt Lille recherche son/sa nouveau/elle Data...,None,None,none,3_TO_4_YEARS,None,BAC_5,punctual,...,2018,fr,"eXalt est une formidable aventure humaine, une...",IT / Digital,"19, Rue d'Amiens, Lille",Lille,Nord,50.633880,3.064180,59800
24,INTERNSHIP,Stage - Data Analyst,"Chez Sharelock, nous sommes anim√©s par la pass...",None,None,none,LESS_THAN_6_MONTHS,None,None,punctual,...,2020,fr,"Avec Sharelock, p√©dalez l‚Äôesprit l√©ger ! Cr√©√© ...","Mobility, FinTech / InsurTech","80, Rue Taitbout, Paris",Paris,Paris,48.877340,2.335610,75009
25,FULL_TIME,Product Data Analyst,Contexte cr√©e son premier poste de Product Dat...,None,None,none,5_TO_7_YEARS,None,None,partial,...,2013,fr,"Contexte est le leader, en France, de l‚Äôinfo p...","Software, Media, Print Media","9, Cour des Petites √âcuries, Paris",Paris,Paris,48.872590,2.351980,75010
26,INTERNSHIP,Data Analyst - Stage,"Le job : Nous cherchons un Data Analyst , en ...",None,None,none,None,None,BAC_5,punctual,...,2023,fr,"Fond√©e en Juillet 2023, Klark propose une solu...","Software, Artificial Intelligence / Machine Le...","Rue Lucien Faure, Bordeaux",Bordeaux,Gironde,44.860300,-0.554200,33300
27,INTERNSHIP,Data Analyst & Dataviz,Vous savez et vous aimez faire parler la donn√©...,None,https://www.aplitrak.com/?adid=UkVDU0dDZW50cmF...,monthly,LESS_THAN_6_MONTHS,None,BAC_4,no,...,1864,fr,Fond√©e par un groupe d‚Äôentrepreneurs en 1864 p...,"Banking, FinTech / InsurTech, Finance",La D√©fense,Puteaux,Hauts-de-Seine,48.892680,2.234880,92062
28,FULL_TIME,Senior Product Data Analyst (F/H/X),L'opportunit√© : Le poste de Senior Product Da...,None,https://jobs.smartrecruiters.com/iAdvize/74399...,none,None,None,None,no,...,2010,fr,By combining the best of human and artificial ...,"IT / Digital, Collaborative Economy, E-commerce",9 Rue Nina Simone,Nantes,Loire-Atlantique,47.217250,-1.534500,44000
29,INTERNSHIP,Data Analyst Assistant - Internship,About Valiantys Valiantys is the leading glob...,None,https://jobs.lever.co/valiantys/4dd74482-0e99-...,none,5_TO_7_YEARS,None,None,partial,...,2006,fr,Valiantys is the leading global consulting and...,"Software, IT / Digital, SaaS / Cloud Services",2 Espl. Compans Caffarelli,Toulouse,Haute-Garonne,43.611080,1.436100,31000
30,FULL_TIME,Product Data Analyst s√©nior (h/f) en CDI √† Paris,"Dans l'√©quipe Marketing globale, nous recherch...",None,https://jobs.smartrecruiters.com/SEWAN/7439999...,none,None,None,None,partial,...,2007,fr,Comment simplifier la communication au sein de...,"IT / Digital, Electronics / Telecommunications",2 Cit√© Paradis,Paris,Paris,48.875052,2.349611,75010
31,FULL_TIME,Data Analyst H/F,"Rattach√©.e au responsable CRM, vous rejoindrez...",None,https://carrieres-groupe.etam.com/fr/offer/919...,none,None,None,None,partial,...,1916,fr,"Depuis 1916, le Groupe Etam innove pour souten...","Fashion, E-commerce, Selective Distribution",57-59 rue Henri Barbusse,Clichy,Hauts-de-Seine,48.899168,2.303752,92110