In [1]:
import pandas as pd

link = 'datasets/WTTJ_offers.csv'

df_wttj = pd.read_csv(link)

link = 'datasets/Pole_Emploi_offers.csv'

df_pole_emploi = pd.read_csv(link)

In [3]:
df_wttj.rename(
    {
        'education_level' : 'niveau_etudes',
        'contract_type' : 'type_contrat',
        'name' : 'intitule',
        'published_at' : 'date_publication',
        'updated_at' : 'date_modif',
        'experience_level' : 'experience',
        'office.city' : 'ville',
        'office.zip_code' : 'code_postal',
        'organization.description' : 'description_entreprise',
        'organization.industry' : 'secteur_activite'
        }, axis = 1, inplace = True
)
df_wttj

,niveau_etudes,type_contrat,salary_period,intitule,description,contract_duration_min,date_publication,salary_max,date_modif,salary_min,experience,profession.category.fr,ville,code_postal,description_entreprise,industrie
0,BAC_5,FULL_TIME,none,Margo Analytics - Data Engineer - H/F,Margo Analytics est l'entit√© experte de Margo...,NaN,2023-11-24T15:39:05.887634Z,NaN,2023-11-24T15:39:05.900748Z,NaN,NaN,Tech,Paris,75008.0,"Plus qu‚Äôun simple groupe de conseil IT, MARGO ...","Software, IT / Digital"
1,BAC_4,INTERNSHIP,none,Stage - Data Analyst,Pour consolider notre statut de leader europ√©e...,6.0,2023-12-19T14:46:36.080319Z,NaN,2023-12-19T14:53:52.993653Z,NaN,LESS_THAN_6_MONTHS,Support,Paris,75011.0,Qui sommes-nous ? üöÄ Gymlib propose un abonneme...,"Health, Sports"
2,BAC_4,INTERNSHIP,none,Stage - Data Analyst F/H,Vos mission ‚ÄúCette mission vous donnera l‚Äôoppo...,6.0,2023-12-19T14:02:47.012338Z,NaN,2023-12-19T14:02:47.012007Z,NaN,LESS_THAN_6_MONTHS,Tech,Lyon - 3√®me Arrondissement,69003.0,Orange a besoin de vous pour conqu√©rir de nouv...,"Connected Objects, Big Data, Electronics / Tel..."
3,BAC_5,INTERNSHIP,none,Data analyst et business analyst - Stage,V√©ritable interface entre l‚Äô√©quipe technique e...,6.0,2023-12-19T13:41:13.692013Z,NaN,2023-12-19T13:41:13.701908Z,NaN,NaN,Tech,Paris,75009.0,"Lanc√©e en 2017 par une infirmi√®re, libheros es...","SaaS / Cloud Services, Health, Home Care Servi..."
4,BAC_4,INTERNSHIP,monthly,Data Analyst - Internship - Paris,About Stockly Stockly is a retail-tech company...,5.0,2023-12-19T11:00:56.681677Z,2000.0,2023-12-19T11:00:56.690318Z,1500.0,NaN,Tech,Paris,75002.0,üî≠ Stockly is a tech-retail company solving...,"Software, E-commerce"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,BAC_5,FULL_TIME,yearly,Business Analyst R√©glementaire sur DATA Bancaire,"Chez Soci√©t√© G√©n√©rale, nous sommes convaincus ...",NaN,2023-10-24T08:58:10.102660Z,NaN,2023-10-24T08:58:10.102276Z,NaN,LESS_THAN_6_MONTHS,Tech,Fontenay-Sous-Bois,94400.0,Fond√©e par un groupe d‚Äôentrepreneurs en 1864 p...,"Banking, FinTech / InsurTech, Finance"
207,BAC_5,FULL_TIME,yearly,Business Analyst IT (F/H) - d√©partement Soluti...,"Poste et missions Au sein de BPCE SI, vous int...",NaN,2023-11-28T12:09:44.652983Z,NaN,2023-11-28T12:09:44.652675Z,NaN,5_TO_7_YEARS,Tech,Paris-13e-Arrondissement,NaN,"Au sein du Groupe BPCE, venez d√©couvrir un cha...","Banking, FinTech / InsurTech, Finance"
208,NaN,INTERNSHIP,none,Internship - Reporting Analyst / Developer - ...,"Our business, protection. We protect people, p...",NaN,2023-12-19T10:38:16.409587Z,NaN,2023-12-19T10:38:16.420498Z,NaN,NaN,Tech,Puteaux,92400.0,Avec 6 000 recrutements par an en France rejoi...,"Banking, Insurance, FinTech / InsurTech"
209,NaN,FULL_TIME,yearly,Game Product Analyst,We are looking for an experienced Game/Produc...,NaN,2023-12-18T17:36:09.887752Z,50000.0,2023-12-19T08:25:39.776584Z,38000.0,3_TO_4_YEARS,Tech,Issy-Les-Moulineaux,92130.0,52 Entertainment is a leading e-gaming compan...,Video Games
210,BAC_5,FULL_TIME,none,Business Analyst - CDI,- Collaboration et structuration : Travaille...,NaN,2023-12-18T17:32:53.314815Z,NaN,2023-12-18T17:32:53.323883Z,NaN,NaN,Tech,Paris,75002.0,The Bradery propose des ventes √©ph√©m√®res de ma...,"Fashion, E-commerce"

In [4]:
df_pole_emploi.rename(
    {
        'dateCreation' : 'date_publication',
        'dateActualisation' : 'date_modif',
        'typeContrat' : 'type_contrat',
        'dureeTravailLibelle' : 'secteur_activite',
        'niveauLibelle' : 'niveau_etudes',
        'libelle' : 'salaire',
        'nom' : 'entreprise',
        'description.1' : 'description_entreprise',
        'libelle.1' : 'ville',
        'codePostal' : 'code_postal'
    }, axis = 1, inplace = True
)

,intitule,description,dateCreation,dateActualisation,typeContrat,natureContrat,competences,dureeTravailLibelle,dureeTravailLibelleConverti,secteurActiviteLibelle,niveauLibelle,libelle,nom,description.1,libelle.1,codePostal,commune
0,RESPONSABLE DATA ANALYST (H/F),Nous recherchons un Manager/Responsable data a...,2023-12-19 16:35:09+00:00,2023-12-19 16:35:12+00:00,CDI,Contrat travail,"[{'code': '109527', 'libelle': 'Adapter les ou...",35H Travail en journ√©e,Temps plein,Activit√©s des agences de travail temporaire,Bac+5 et plus ou √©quivalents,"Annuel de 25000,00 Euros √† 30000,00 Euros sur ...",SUPPLAY,Agence de travail temporaire et de recrutement,80 - AMIENS,80000.0,80021.0
1,Data analyst,"Vous aussi, vous pensez que tout est mesurable...",2023-12-18 14:45:32+00:00,2023-12-19 10:59:04+00:00,CDI,Contrat travail,"[{'code': '109527', 'libelle': 'Adapter les ou...",35H Travail en journ√©e,Temps plein,Conseil en syst√®mes et logiciels informatiques,Bac+2 ou √©quivalents,"Annuel de 35000,00 Euros sur 12 mois",OTCHEE,NaN,92 - COURBEVOIE,92400.0,92026.0
2,Data Analyst (H/F),Nous recherchons pour notre client sp√©cialis√© ...,2023-12-18 11:36:50+00:00,2023-12-19 16:37:29+00:00,CDI,Contrat travail,"[{'code': '109527', 'libelle': 'Adapter les ou...",35H Travail en journ√©e,Temps plein,Activit√©s des agences de placement de main-d'≈ì...,Bac+2 ou √©quivalents,"Mensuel de 2500,00 Euros sur 12 mois",NaN,NaN,92 - BAGNEUX,92220.0,92007.0
3,Data Analyst exp√©riment√© (H/F),"Chez K-LAGAN, nous parions sur vous !\n\nVous ...",2023-12-18 09:54:33+00:00,2023-12-19 16:32:13+00:00,CDI,Contrat travail,"[{'code': '100113', 'libelle': 'Logiciels de g...",38H30 Travail en journ√©e,Temps plein,"Ing√©nierie, √©tudes techniques",NaN,"Annuel de 42000,00 Euros √† 52000,00 Euros sur ...",SAS K-LAGAN FRANCE,NaN,Ile-de-France,NaN,NaN
4,DATA BUSINESS ANALYST (H/F),Vous √™tes un(e) Data Business Analyst confirm√©...,2023-12-15 15:42:50+00:00,2023-12-19 15:20:17+00:00,CDI,Contrat travail,"[{'code': '109527', 'libelle': 'Adapter les ou...",37H30 Travail en journ√©e,Temps plein,Programmation informatique,Bac+5 et plus ou √©quivalents,NaN,HARDIS GROUPE,"""Hardis Group est une ESN, une entreprise de c...",38 - GRENOBLE,38000.0,38185.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,Responsable √©quipe Risk Analytics (F/H) (H/F),Nous recherchons un(e) :\n\n \n\nData Analyste...,2023-12-13 18:24:03+00:00,2023-12-13 18:24:03+00:00,CDI,Contrat travail,NaN,NaN,NaN,Autres assurances,NaN,NaN,NaN,Carrefour Assurance a pour vocation depuis plu...,91 - MASSY,91300.0,91377.0
281,Analyste Qualit√© des Donn√©es (F/H) (H/F),Poste et missions\n\nVous serez rattach√©.e √† l...,2023-12-06 18:55:20+00:00,2023-12-06 18:55:20+00:00,CDI,Contrat travail,NaN,NaN,NaN,NaN,NaN,NaN,BPCE SEF,"BPCE Financement, c'est rejoindre le Groupe BP...",75 - PARIS 13,75013.0,75113.0
282,TECH LEAD (H/F),"Dans ce contexte, nous vous proposons l'opport...",2023-11-27 15:33:18+00:00,2023-11-27 15:33:18+00:00,CDI,Contrat travail,NaN,NaN,NaN,Autres activit√©s informatiques,NaN,NaN,NaN,"Nous rejoindre, c'est rejoindre l'un des leade...",91 - MASSY,91300.0,91377.0
283,Analyste BI (H/F),RESPONSABILIT√âS : \n\nVos missions ?\nInt√©gr√© ...,2023-11-26 02:43:00+00:00,2023-11-26 02:43:00+00:00,CDI,Contrat travail,NaN,35 H Travail en journ√©e,Temps plein,NaN,NaN,"Annuel de 30000,00 Euros √† 45000,00 Euros",Amiltone,Qui sommes-nous¬†?\nNous sommes passionn√©s par ...,42 - ST ETIENNE,42000.0,42218.0
284,Analyste / Yield Manager F/H - Si√®ge Camping P...,En tant que Analyste / Yield Manager vos missi...,2023-11-15 15:57:54+00:00,2023-11-15 15:57:54+00:00,CDI,Contrat travail,NaN,NaN,NaN,Autres services de r√©servation et activit√©s co...,NaN,NaN,Si√®ge Camping Paradis,L'entreprise Les Vacances Camping Paradis est ...,75,NaN,75056.0