In [6]:
import pandas as pd

link = 'datasets/WTTJ_offers.csv'

df_wttj = pd.read_csv(link)

link = 'datasets/Pole_Emploi_offers.csv'

df_pole_emploi = pd.read_csv(link)

In [7]:
df_pole_emploi

,intitule,description,date_publication,date_modif,type_contrat,competences,secteur_activite,dureeTravailLibelleConverti,secteurActiviteLibelle,niveau_etudes,salaire,entreprise,description.1,salaire.1,code_postal
0,RESPONSABLE DATA ANALYST (H/F),Nous recherchons un Manager/Responsable data a...,2023-12-19 16:35:09+00:00,2023-12-19 16:35:12+00:00,CDI,"[{'code': '109527', 'libelle': 'Adapter les ou...",35H Travail en journée,Temps plein,Activités des agences de travail temporaire,Bac+5 et plus ou équivalents,"Annuel de 25000,00 Euros à 30000,00 Euros sur ...",SUPPLAY,Agence de travail temporaire et de recrutement,80 - AMIENS,80000.0
1,Data analyst,"Vous aussi, vous pensez que tout est mesurable...",2023-12-18 14:45:32+00:00,2023-12-19 10:59:04+00:00,CDI,"[{'code': '109527', 'libelle': 'Adapter les ou...",35H Travail en journée,Temps plein,Conseil en systèmes et logiciels informatiques,Bac+2 ou équivalents,"Annuel de 35000,00 Euros sur 12 mois",OTCHEE,NaN,92 - COURBEVOIE,92400.0
2,Data Analyst (H/F),Nous recherchons pour notre client spécialisé ...,2023-12-18 11:36:50+00:00,2023-12-19 16:37:29+00:00,CDI,"[{'code': '109527', 'libelle': 'Adapter les ou...",35H Travail en journée,Temps plein,Activités des agences de placement de main-d'œ...,Bac+2 ou équivalents,"Mensuel de 2500,00 Euros sur 12 mois",NaN,NaN,92 - BAGNEUX,92220.0
3,Data Analyst expérimenté (H/F),"Chez K-LAGAN, nous parions sur vous !\n\nVous ...",2023-12-18 09:54:33+00:00,2023-12-19 16:32:13+00:00,CDI,"[{'code': '100113', 'libelle': 'Logiciels de g...",38H30 Travail en journée,Temps plein,"Ingénierie, études techniques",NaN,"Annuel de 42000,00 Euros à 52000,00 Euros sur ...",SAS K-LAGAN FRANCE,NaN,Ile-de-France,NaN
4,DATA BUSINESS ANALYST (H/F),Vous êtes un(e) Data Business Analyst confirmé...,2023-12-15 15:42:50+00:00,2023-12-19 15:20:17+00:00,CDI,"[{'code': '109527', 'libelle': 'Adapter les ou...",37H30 Travail en journée,Temps plein,Programmation informatique,Bac+5 et plus ou équivalents,NaN,HARDIS GROUPE,"""Hardis Group est une ESN, une entreprise de c...",38 - GRENOBLE,38000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,Responsable équipe Risk Analytics (F/H) (H/F),Nous recherchons un(e) :\n\n \n\nData Analyste...,2023-12-13 18:24:03+00:00,2023-12-13 18:24:03+00:00,CDI,NaN,NaN,NaN,Autres assurances,NaN,NaN,NaN,Carrefour Assurance a pour vocation depuis plu...,91 - MASSY,91300.0
282,Analyste Qualité des Données (F/H) (H/F),Poste et missions\n\nVous serez rattaché.e à l...,2023-12-06 18:55:20+00:00,2023-12-06 18:55:20+00:00,CDI,NaN,NaN,NaN,NaN,NaN,NaN,BPCE SEF,"BPCE Financement, c'est rejoindre le Groupe BP...",75 - PARIS 13,75013.0
283,TECH LEAD (H/F),"Dans ce contexte, nous vous proposons l'opport...",2023-11-27 15:33:18+00:00,2023-11-27 15:33:18+00:00,CDI,NaN,NaN,NaN,Autres activités informatiques,NaN,NaN,NaN,"Nous rejoindre, c'est rejoindre l'un des leade...",91 - MASSY,91300.0
284,Analyste BI (H/F),RESPONSABILITÉS : \n\nVos missions ?\nIntégré ...,2023-11-26 02:43:00+00:00,2023-11-26 02:43:00+00:00,CDI,NaN,35 H Travail en journée,Temps plein,NaN,NaN,"Annuel de 30000,00 Euros à 45000,00 Euros",Amiltone,Qui sommes-nous ?\nNous sommes passionnés par ...,42 - ST ETIENNE,42000.0
285,Analyste / Yield Manager F/H - Siège Camping P...,En tant que Analyste / Yield Manager vos missi...,2023-11-15 15:57:54+00:00,2023-11-15 15:57:54+00:00,CDI,NaN,NaN,NaN,Autres services de réservation et activités co...,NaN,NaN,Siège Camping Paradis,L'entreprise Les Vacances Camping Paradis est ...,75,NaN

In [8]:
df_wttj

,date_publication,date_modif,type_contrat,intitule,salary_max,description,salary_min,niveau_etudes,salary_period,contract_duration_min,experience,ville,code_postal,description_entreprise,secteur_activite
0,2023-11-24T15:39:05.887634Z,2023-11-24T15:39:05.900748Z,FULL_TIME,Margo Analytics - Data Engineer - H/F,NaN,Margo Analytics est l'entité experte de Margo...,NaN,BAC_5,none,NaN,NaN,Paris,75008.0,"Plus qu’un simple groupe de conseil IT, MARGO ...","Software, IT / Digital"
1,2023-12-19T14:46:36.080319Z,2023-12-19T14:53:52.993653Z,INTERNSHIP,Stage - Data Analyst,NaN,Pour consolider notre statut de leader europée...,NaN,BAC_4,none,6.0,LESS_THAN_6_MONTHS,Paris,75011.0,Qui sommes-nous ? 🚀 Gymlib propose un abonneme...,"Health, Sports"
2,2023-12-19T14:02:47.012338Z,2023-12-19T14:02:47.012007Z,INTERNSHIP,Stage - Data Analyst F/H,NaN,Vos mission “Cette mission vous donnera l’oppo...,NaN,BAC_4,none,6.0,LESS_THAN_6_MONTHS,Lyon - 3ème Arrondissement,69003.0,Orange a besoin de vous pour conquérir de nouv...,"Connected Objects, Big Data, Electronics / Tel..."
3,2023-12-19T13:41:13.692013Z,2023-12-19T13:41:13.701908Z,INTERNSHIP,Data analyst et business analyst - Stage,NaN,Véritable interface entre l’équipe technique e...,NaN,BAC_5,none,6.0,NaN,Paris,75009.0,"Lancée en 2017 par une infirmière, libheros es...","SaaS / Cloud Services, Health, Home Care Servi..."
4,2023-12-19T11:00:56.681677Z,2023-12-19T11:00:56.690318Z,INTERNSHIP,Data Analyst - Internship - Paris,2000.0,About Stockly Stockly is a retail-tech company...,1500.0,BAC_4,monthly,5.0,NaN,Paris,75002.0,🔭 Stockly is a tech-retail company solving...,"Software, E-commerce"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,2023-12-01T16:57:49.425514Z,2023-12-01T16:57:49.434607Z,FULL_TIME,CONSULTANT ALTERYX | POWER BI - Data Analyst (...,NaN,Vous serez amené⸱e à travailler sur différents...,NaN,BAC_5,none,NaN,2_TO_3_YEARS,Paris,75003.0,"Fondée en 2014, Actinvision est un regroupemen...","Artificial Intelligence / Machine Learning, Ch..."
147,2023-12-01T16:57:52.628916Z,2023-12-01T16:57:52.652888Z,FULL_TIME,CONSULTANT TABLEAU - Data Analyst (F/H),NaN,Vous serez amené⸱e à travailler sur différents...,NaN,BAC_5,none,NaN,2_TO_3_YEARS,Strasbourg,67000.0,"Fondée en 2014, Actinvision est un regroupemen...","Artificial Intelligence / Machine Learning, Ch..."
148,2023-12-01T16:58:09.486035Z,2023-12-01T16:58:09.497572Z,FULL_TIME,CONSULTANT POWER BI - Data Analyst (F/H),NaN,Vous serez amené⸱e à travailler sur différents...,NaN,BAC_5,none,NaN,2_TO_3_YEARS,Strasbourg,67000.0,"Fondée en 2014, Actinvision est un regroupemen...","Artificial Intelligence / Machine Learning, Ch..."
149,2023-12-01T16:58:12.604424Z,2023-12-01T16:58:12.615257Z,FULL_TIME,CONSULTANT POWER BI - Data Analyst (F/H),NaN,Vous serez amené⸱e à travailler sur différents...,NaN,BAC_5,none,NaN,2_TO_3_YEARS,Lyon,69003.0,"Fondée en 2014, Actinvision est un regroupemen...","Artificial Intelligence / Machine Learning, Ch..."
150,2023-12-01T16:58:04.748922Z,2023-12-01T16:58:04.761077Z,FULL_TIME,CONSULTANT POWER BI - Data Analyst (F/H),NaN,Vous serez amené⸱e à travailler sur différents...,NaN,BAC_5,none,NaN,2_TO_3_YEARS,Paris,75003.0,"Fondée en 2014, Actinvision est un regroupemen...","Artificial Intelligence / Machine Learning, Ch..."