In [5]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import re
import requests
import pandas as pd
import asyncio
import aiohttp

In [5]:
def job_offers_wtj(
        job_title: str = "data analyst",
        pages: int = 1
):
    """
    ---
    Web scraping WTJ
    ---
    Lance un navigateur et créée un dataframe contenant les informations de
    chaque offre d'emploi pour un nombre de pages définis sur le site
    Welcome To The Jungle.
    ---
    Paramètres :
    - job_title: str : Le nom du métier pour lequel rechercher des offres.
    - pages: int : Le nombre de pages sur lesquels rechercher les offres.
    ---
    Retourne :
    - Le df contenant les informations de toute les offres récupérées.
    """
    # Instanciation de la liste contenant les liens pour les requêtes APIs.
    api_links = []
    # Lien de l'API de Welcome To The Jungle pour récupérer les données.
    api_link = f"https://api.welcometothejungle.com/api/v1/organizations"
    job = job_title.lower().replace(" ", "+")
    # Instanciation du driver Firefox.
    driver = webdriver.Firefox()
    # Instanciation du dataframe final.
    full_df = pd.DataFrame()
    # Nom des colonnes à garder dans le dataframe final.
    cols_to_keep = [
        "name",
        "salary_period",
        "experience_level",
        "apply_url",
        "contract_duration_min",
        "office.city",
        "office.address",
        "office.district",
        "office.latitude",
        "office.longitude",
        "office.zip_code",
        "profession.category.fr",
        "profession.name.fr"
        "name",
        "education_level",
        "application_fields.mode",
        "application_fields.name",
        "description",
        "organization.average_age",
        "organization.creation_year",
        "organization.default_language",
        "organization.description",
        "organization.industry",
        "organization.nb_employee",
        "contract_type",
        "salary_min",
        "salary_max",
        "education_level",
        "remote"
    ]
    try:
        for i in range(1, pages+1):
            url = f"https://www.welcometothejungle.com/fr/jobs?refinementList%5Boffices.country_code%5D%5B%5D=FR&query={job}&page={i}"
            # Ouvre chaque page sur le navigateur.
            driver.get(url)
            try:
                # Récupère le lien de chaque offre d'emploi sur la page.
                contents = WebDriverWait(driver, 20).until(
                    EC.presence_of_all_elements_located((By.CSS_SELECTOR, ".sc-6i2fyx-0.gIvJqh"))
                )
                for content in contents:
                    link = content.get_attribute("href")
                    end_link = re.findall(r"/companies(.+)", link)[0]
                    full_link = api_link + end_link
                    # Rajoute le lien de chaque offre à la liste.
                    api_links.append(full_link)
            except Exception as e:
                print(f"Error scraping page {i} : {e}")
    finally:
        driver.quit()
    # Pour chaque lien de la liste, fait une requête API et stocke les informations dans un dataframe.
    for link_ in api_links:
        r = requests.get(link_)
        df = pd.json_normalize(
            r.json()["job"]
        )
        full_df = pd.concat([full_df, df], ignore_index=True)
    # Instanciation de la liste des colonnes à drop.
    cols_to_drop = [col for col in full_df.columns if col not in cols_to_keep]
    df = full_df.drop(columns=cols_to_drop)
    return df, api_links

In [6]:
df, api_links = job_offers_wtj("data analyst", 1)

In [9]:
api_links[0]

'https://api.welcometothejungle.com/api/v1/organizations/margo/jobs/margo-analytics-data-engineer-h-f_paris?q=d29961294f3e8be5cef30329cc49055a&o=579036&p=true'

In [8]:
r = requests.get(api_links[0])
r.json()["job"]

{'recruitment_process': None,
 'status': 'published',
 'profession': {'category': {'cs': 'Tech',
   'en': 'Tech',
   'es': 'Tecnología',
   'fr': 'Tech',
   'po': 'Tech',
   'sk': 'Technológie'},
  'name': {'cs': 'Data Engineering',
   'en': 'Data Engineering',
   'es': 'Ingeniería de datos',
   'fr': 'Data Engineering',
   'po': 'Data Engineering',
   'sk': 'Data Engineering'}},
 'is_default': False,
 'contract_duration_min': None,
 'name': 'Margo Analytics - Data Engineer - H/F',
 'contract_type': 'FULL_TIME',
 'videos': [{'external_reference': '/M8Hd_oolT3I',
   'image': {'large': {'url': 'https://cdn-images.welcometothejungle.com/7QhWyhyMc0_IG67p9uZ1eDQmY3ElOLqUF4tNU9Svnek/rs:auto:1500::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS80NTA0LzE2OTEwNS9tYXJnb192aWRlb193a3JQZDAxLnBuZw'},
    'medium': {'url': 'https://cdn-images.welcometothejungle.com/RkG58C8qk7MUPp_6WhEKHXa4cDypiOZhI550L9rt304/rs:auto:980::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS80NTA0LzE2OTEwNS9tYXJnb192aWRlb193a3JQZDAxLnBuZw'},
    'preload': {'url': 'https://cdn-images.welcometothejungle.com/SiaJFOEEe18BsclS04dHzJGYKD56dXjuRaBa_3azYD4/rs:auto:40::/q:1/bl:100/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS80NTA0LzE2OTEwNS9tYXJnb192aWRlb193a3JQZDAxLnBuZw'},
    'small': {'url': 'https://cdn-images.welcometothejungle.com/2qqeqoRmFK7aOm078i0w0WTxL2DT0sLFVqI8rUG7G8s/rs:auto:640::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS80NTA0LzE2OTEwNS9tYXJnb192aWRlb193a3JQZDAxLnBuZw'},
    'thumb': {'url': 'https://cdn-images.welcometothejungle.com/qvm81N14wO61c8z6HH07OZ4IPWDjB6Ja6g8c8Jtoo5w/rs:auto:400::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS80NTA0LzE2OTEwNS9tYXJnb192aWRlb193a3JQZDAxLnBuZw'},
    'url': 'https://cdn-images.welcometothejungle.com/HRnFdJhS7xLgk6TNbbfT4ZNynA7uqV5zzcokcO8fV8Q/rs:auto:2000::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS80NTA0LzE2OTEwNS9tYXJnb192aWRlb193a3JQZDAxLnBuZw'},
   'name': None,
   'reference': '1dkbY88',
   'source': 'youtube'},
  {'external_reference': 'GYC2rf3TR2g',
   'image': {'large': {'url': 'https://cdn-images.welcometothejungle.com/7zyHFPs8Xw0mQ4hDIqKMpf6-k7llMG0mLxUqEgllJCI/rs:auto:1500::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS81Nzg2LzE2OTA5MC9tYXJnb192aWRlb19HRGQ4NlJ5LmpwZw'},
    'medium': {'url': 'https://cdn-images.welcometothejungle.com/3ClB5LJLsAskJIHbWatu1P6HokkgQZGGec2VYv7uCgk/rs:auto:980::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS81Nzg2LzE2OTA5MC9tYXJnb192aWRlb19HRGQ4NlJ5LmpwZw'},
    'preload': {'url': 'https://cdn-images.welcometothejungle.com/tpmuq5u1V29hPCjgwPiUMCDfVl5xcAIrAthfOE1JO-g/rs:auto:40::/q:1/bl:100/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS81Nzg2LzE2OTA5MC9tYXJnb192aWRlb19HRGQ4NlJ5LmpwZw'},
    'small': {'url': 'https://cdn-images.welcometothejungle.com/DDSZtoR1gorY9JVPpdX9Cv1732_yRNOmUZMvobB_sC0/rs:auto:640::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS81Nzg2LzE2OTA5MC9tYXJnb192aWRlb19HRGQ4NlJ5LmpwZw'},
    'thumb': {'url': 'https://cdn-images.welcometothejungle.com/OCVLnbNDvkBTAeciYkIdf0WXG0VKAAUPmWTr1xCpX3U/rs:auto:400::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS81Nzg2LzE2OTA5MC9tYXJnb192aWRlb19HRGQ4NlJ5LmpwZw'},
    'url': 'https://cdn-images.welcometothejungle.com/BYlJvKwh1KEk-hmCyJtS-knr_DOT8bbHiCNm8Mitlk8/rs:auto:2000::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS81Nzg2LzE2OTA5MC9tYXJnb192aWRlb19HRGQ4NlJ5LmpwZw'},
   'name': 'Rencontrez Humayun, IT Consultant',
   'reference': 'NQ0kxJ1',
   'source': 'youtube'}],
 'contract_duration_max': None,
 'start_date': None,
 'description': '<p><b>Margo Analytics est l&#39;entité experte</b><span> de Margo Group des problématiques </span><b>Data, Cloud et DevOps</b><span> créée en 2020 par leurs fondateurs Raphaël et Mounir. Aujourd’hui </span><b>60 consultants</b><span> ont intégré l&#39;entité et nous avons commencé à travailler avec </span><b>18 nouveaux clients</b><span> (Banque, Industrie, Assurance, Énergie, E commerce, Santé). A leurs côtés, vous pourrez évoluer rapidement et développer de nouvelles compétences.\xa0</span></p><p><b>Deux ADN fondateurs forts</b><span> et spécifiques à Margo Analytics à l’origine de l’entité :</span></p><p>- <span>Toujours se positionner sur </span><b>les plus beaux sujets </b><span>et sur les </span><b>missions à fortes valeurs ajoutées</b></p><p><span>- </span><b>Recruter</b><span> des </span><b>consultants passionnés</b><span> et </span><b>curieux</b><span> qui cherchent à être </span><b>challengés </b></p><p><span>Aujourd’hui, Margo Analytics possède </span><b>4 communautés</b><span> de compétences :\xa0</span></p><p><b>- Data engineer\xa0 </b></p><p><b>- Data Science/ IA\xa0</b></p><p><b>- Galaxy OPS (devOps, dataOps, cloudOps)</b></p><p><b>- Architecte Big Data\xa0</b></p><p><span>Ainsi en rejoignant Margo Analytics vous aurez le choix des missions (#consultantfirst) sur lesquelles vous souhaitez travailler. Vous serez accompagné par les deux fondateurs ainsi que par le leader de votre communauté, dont les rôles sont de rechercher le projet qui correspondra le plus à vos attentes et de vous accompagner dans votre carrière.</span></p><p><span>🎯</span><b>Les missions Margo Analytics\xa0</b><b>:\xa0</b></p><p><span>Au sein de la communauté Data Engineer </span><b>vos missions</b><span>\xa0</span><b>seront</b><span> :\xa0</span></p><p><span>- </span><b>Développer en mode agile</b><span> les cas d’usages métier\xa0</span></p><p><span>- Mettre en place des </span><b>processus de collecte, d’organisation, de stockage et de modélisation des données</b><span>\xa0</span></p><p><span>- Développer des traitements de transformation et de production de données </span></p><p><span>- Assurer la </span><b>mise en production des modèles de prédiction</b><span> créés par les Data Scientists </span></p><p><span>- Participer à l’</span><b>amélioration continue</b><span> et au refactoring de code</span></p><p><b>Besoin de projection ? Voici un exemple de mission :\xa0</b></p><p><span>Camille accompagne un grand compte dans le domaine de l’industrie sur son projet de mise en place d’un nouveau datalake en Azure databricks. L’objectif de cette mission est d’assurer la distribution de la donnée de manière optimisée pour créer une couche de distribution et permettre aux Data Scientists d’implémenter les use cases. Camille apporte son expertise sur les technologies suivantes : Spark, Scala, Azure, Databricks.</span></p><p><b>Nos stack Technique :\xa0</b></p><p><span>- Langage : Python/Scala/Java</span></p><p><span>- Framework : Spark/Hadoop </span></p><p><span>- Cloud: Azure/ AWS/ GCP\xa0</span></p><p><b>🙌 Les avantages\xa0:\xa0</b></p><p>- Tickets restaurants Swile </p><p>- Mutuelle Alan prise en charge à 100%</p><p>- Pass Navigo pris en charge à 100%</p><p>- Télétravail</p><p>- Formations illimitées</p><p>- Locaux en plein coeur de Paris</p><p>- Places en crèches </p><p><b>🤝Notre processus de recrutement :</b>\xa0</p><p>Notre processus de recrutement se fait en 3 étapes, réparties sur 7 à 15 jours maximum : </p><p><b>- Première rencontre ! </b><span>Vous échangez avec un RH et un dirigeant sur votre parcours, vos aspirations professionnelles ainsi que sur Margo Analytics et les opportunités que nous proposons</span></p><p><b>-</b><span>\xa0</span><b>Challengez-vous </b><span>dans le cadre d’un entretien technique avec l’un de nos experts. C’est également l’occasion pour vous d’avoir son retour d’expérience</span></p><p><b>- Dernier entretien de motivation</b><span> : pour finir, vous rencontrez un membre du board de Margo Analytics pour un entretien final </span></p><p><b>🔍 Vous êtes un(e) futur(e) Margo Analytics si :</b><span>\xa0</span></p><p><b>Must-Have</b></p><p><span>Vous êtes issu(e) d’une école d’ingénieur ou d’un cursus universitaire équivalent niveau </span><b>Bac + 5</b><span> / Master</span></p><p><span>Vous aimez coder et vous êtes passionné(e) d’informatique et de Data</span></p><p><span>Vous êtes curieux(se) et vous vous intéressez aux dernières technologies du marché</span></p><p><span>Vous justifiez d’une première expérience en tant que Data Engineer</span></p><p><b>Nice to Have</b></p><p><span>Vous êtes ambitieux(se) et n’avez pas peur de travailler sur des projets challengeants dans des environnements à fortes contraintes techniques . Vous parlez et comprenez l’anglais.</span>\xa0</p>',
 'apply_url': 'https://jobs.lever.co/margo-group/dfd990e5-a461-4b7a-8b81-74dfc1632ff8/apply?lever-origin=applied&lever-source=WTTJ',
 'salary_period': 'none',
 'salary_max': None,
 'featured_page': {'slug': '/margo-united-kingdom', 'type': 'custom'},
 'published_at': '2023-11-24T15:39:05.887634Z',
 'organization': {'automatic_email': True,
  'average_age': 30,
  'cover_image': {'large': {'url': 'https://cdn-images.welcometothejungle.com/NR5iUPmA7y7x-WN8RMGoUMBXDbAnsy-4YKy2jhlHy2s/rs:auto:1500::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy93ZWJzaXRlX29yZ2FuaXphdGlvbi9jb3Zlcl9pbWFnZS93dHRqX2ZyL2ZyLTg5MTQ5ZmUzLTUyZTQtNDQxOS1iMjNmLTlkZmI0ZGU0NTU5ZC5qcGc'},
   'medium': {'url': 'https://cdn-images.welcometothejungle.com/dpAvhZs0eCfVx3JalGLuRuruNbDgok8yZQ9GEXwmO0U/rs:auto:900::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy93ZWJzaXRlX29yZ2FuaXphdGlvbi9jb3Zlcl9pbWFnZS93dHRqX2ZyL2ZyLTg5MTQ5ZmUzLTUyZTQtNDQxOS1iMjNmLTlkZmI0ZGU0NTU5ZC5qcGc'},
   'small': {'url': 'https://cdn-images.welcometothejungle.com/Pum477rlIwZOoiHCxdMeErPMs3w2xWjGTF3fAQg48js/rs:auto:640::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy93ZWJzaXRlX29yZ2FuaXphdGlvbi9jb3Zlcl9pbWFnZS93dHRqX2ZyL2ZyLTg5MTQ5ZmUzLTUyZTQtNDQxOS1iMjNmLTlkZmI0ZGU0NTU5ZC5qcGc'},
   'social': {'url': 'https://cdn-images.welcometothejungle.com/QnOKQL0Se-zvhjYkdU27YBYuRmWa6vskOSE12WV4G2E/rs:auto:1200:627:/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy93ZWJzaXRlX29yZ2FuaXphdGlvbi9jb3Zlcl9pbWFnZS93dHRqX2ZyL2ZyLTg5MTQ5ZmUzLTUyZTQtNDQxOS1iMjNmLTlkZmI0ZGU0NTU5ZC5qcGc'},
   'url': 'https://cdn-images.welcometothejungle.com/DHvxTlwrVHXLZ630yVZUY5j3RyMEwCRu5pYNrr-i0Xw/rs:auto:2000:450:/g:fp:0:0.50/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy93ZWJzaXRlX29yZ2FuaXphdGlvbi9jb3Zlcl9pbWFnZS93dHRqX2ZyL2ZyLTg5MTQ5ZmUzLTUyZTQtNDQxOS1iMjNmLTlkZmI0ZGU0NTU5ZC5qcGc'},
  'creation_year': 2005,
  'default_language': 'fr',
  'description': '<p>Plus qu’un simple groupe de conseil IT, MARGO est une alchimie de talents aux expertises constamment enrichies, à la dynamique toujours encouragée, à l’épanouissement toujours favorisé.</p><p>Fidèles à notre esprit entrepreneurial, nous nous affranchissons des habitudes du secteur allant même jusqu’à casser les codes.<br/>Chez MARGO, nous savons que le dépassement de soi, ce n’est pas seulement franchir la haie du progrès, mais d’avoir toujours envie de la prochaine.</p><p>En rejoignant MARGO, votre talent d’aujourd’hui restera d’actualité demain. Nous vous intégrons au groupe pas seulement pour ce que vous êtes aujourd’hui mais pour le potentiel que vous souhaitez développer. Chez MARGO, vous allez pouvoir construire votre propre parcours d’excellence au sein de nos équipes et de nos missions.<br/>Du sur-mesure au service de votre ambition et à la hauteur de votre talent.</p>',
  'gdpr_setting': {'application_message': None,
   'consent_duration': 2,
   'privacy_policy_url': None},
  'has_external_ats': True,
  'headquarter': {'address': '1, Rue de Saint-Pétersbourg, Paris',
   'city': 'Paris',
   'country_code': 'FR',
   'district': 'Paris',
   'latitude': 48.8797,
   'local_address': None,
   'local_city': None,
   'local_district': None,
   'longitude': 2.32381,
   'zip_code': '75008'},
  'industry': 'Software, IT / Digital',
  'jobs_count': 29,
  'labels': [],
  'logo': {'thumb': {'url': 'https://cdn-images.welcometothejungle.com/H5N80zfmbfGPOt4g-lgv__nZw2j2hJryI1GRUvYGt8w/rs:auto:70::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy9vcmdhbml6YXRpb24vbG9nby80MTIyLzE1NDUwNC9iYjAzZmIxNi1hNmJmLTQ3YzktYmMxYS00OTk1M2JmOWUxNjEucG5n'},
   'url': 'https://cdn-images.welcometothejungle.com/sJ0YglXM6eP4Up9TH798HxugVLt9IpaEA2rT7F4xxfI/rs:auto:400::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy9vcmdhbml6YXRpb24vbG9nby80MTIyLzE1NDUwNC9iYjAzZmIxNi1hNmJmLTQ3YzktYmMxYS00OTk1M2JmOWUxNjEucG5n'},
  'media_facebook': 'margo.groupFR',
  'media_instagram': 'margo.group',
  'media_linkedin': 'margofr',
  'media_pinterest': '',
  'media_twitter': '',
  'media_website_url': 'http://www.margo-group.com',
  'media_youtube': '',
  'name': 'MARGO',
  'nb_employees': 400,
  'parity_men': None,
  'parity_women': None,
  'playlist_id': 'PLUndIPKSZI5T6Sx0xiDgdol4bUhhF9e-I',
  'reference': '4ZRO3K0',
  'revenue': '43M',
  'sectors': [{'name': 'Software', 'parent_name': 'Tech'},
   {'name': 'IT / Digital', 'parent_name': 'Consulting / Audit'}],
  'turnover': None,
  'video_playlist_provider': 'youtube',
  'website_organization': {'i18n_descriptions': {'fr': '<p>Plus qu’un simple groupe de conseil IT, MARGO est une alchimie de talents aux expertises constamment enrichies, à la dynamique toujours encouragée, à l’épanouissement toujours favorisé.</p><p>Fidèles à notre esprit entrepreneurial, nous nous affranchissons des habitudes du secteur allant même jusqu’à casser les codes.<br/>Chez MARGO, nous savons que le dépassement de soi, ce n’est pas seulement franchir la haie du progrès, mais d’avoir toujours envie de la prochaine.</p><p>En rejoignant MARGO, votre talent d’aujourd’hui restera d’actualité demain. Nous vous intégrons au groupe pas seulement pour ce que vous êtes aujourd’hui mais pour le potentiel que vous souhaitez développer. Chez MARGO, vous allez pouvoir construire votre propre parcours d’excellence au sein de nos équipes et de nos missions.<br/>Du sur-mesure au service de votre ambition et à la hauteur de votre talent.</p>'},
   'slug': 'margo'}},
 'slug': 'margo-analytics-data-engineer-h-f_paris',
 'cta_content': {'contents': [{'id': 329489,
    'kind': 'video',
    'position': 1,
    'properties': {'external_reference': '9m1xSWSUR0M',
     'image': {'large': {'url': 'https://cdn-images.welcometothejungle.com/cWg8-OFldbB0Wbsb1bJ9_P8Jcg-sjb7DsItmHcXfbL8/rs:auto:1500::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS84MTAyLzE2MTU5Ny9tYXJnb192aWRlb19ENVdXMUc4LmpwZw'},
      'medium': {'url': 'https://cdn-images.welcometothejungle.com/5q4Paqbv9MkEYA7_B2m_0QiIMK0jw6vbfVEwUIP7WBs/rs:auto:980::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS84MTAyLzE2MTU5Ny9tYXJnb192aWRlb19ENVdXMUc4LmpwZw'},
      'preload': {'url': 'https://cdn-images.welcometothejungle.com/NWOX6f2x_xN6qXnzBFbT0vE0iK1xkp-QdPE7mInhvyY/rs:auto:40::/q:1/bl:100/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS84MTAyLzE2MTU5Ny9tYXJnb192aWRlb19ENVdXMUc4LmpwZw'},
      'small': {'url': 'https://cdn-images.welcometothejungle.com/rVKCyvyYOI0W9lWQSDSRkwaFIRvfl605W58XqarRjzc/rs:auto:640::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS84MTAyLzE2MTU5Ny9tYXJnb192aWRlb19ENVdXMUc4LmpwZw'},
      'thumb': {'url': 'https://cdn-images.welcometothejungle.com/qnKQm8IGmV5EZxvFMIxSiAKLRWgqxCjrOSVPgowcjIs/rs:auto:400::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS84MTAyLzE2MTU5Ny9tYXJnb192aWRlb19ENVdXMUc4LmpwZw'},
      'url': 'https://cdn-images.welcometothejungle.com/45p2E5Xfuurlnl1c5SBJlEPjXKW3dSTwWdQVh1115Vg/rs:auto:2000::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS84MTAyLzE2MTU5Ny9tYXJnb192aWRlb19ENVdXMUc4LmpwZw'},
     'name': 'Rencontrez Xavier, Founder, CEO',
     'organization': None,
     'reference': 'pD546gR',
     'source': 'youtube',
     'subtitle': None,
     'title': 'Rencontrez Xavier, Co fondateur et CEO',
     'display': 'modal'}},
   {'id': 223566,
    'kind': 'image',
    'position': 1,
    'properties': {'image': {'large': {'url': 'https://cdn-images.welcometothejungle.com/mxvbYPK_ugBlwvuiKKJLtsGWDAC8EvKxbJB7H19OtS4/rs:auto:1500::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy9pbWFnZS9maWxlLzE3NDEvMTY4NDUwLzQwZDg5NTA4LWVmMWEtNDVkNS04ZGMyLWRlOWIzODY3YmFiMy5qcGc'},
      'medium': {'url': 'https://cdn-images.welcometothejungle.com/wwIE7CqLkg044nlMFBjUKJ7kmc86izXwXRt8q_BbMw0/rs:auto:980::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy9pbWFnZS9maWxlLzE3NDEvMTY4NDUwLzQwZDg5NTA4LWVmMWEtNDVkNS04ZGMyLWRlOWIzODY3YmFiMy5qcGc'},
      'preload': {'url': 'https://cdn-images.welcometothejungle.com/ZeESaKfaCZOLWFUObUHBdQPzuAgaRv-4pTYfSFsSgNI/rs:auto:40::/q:1/bl:100/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy9pbWFnZS9maWxlLzE3NDEvMTY4NDUwLzQwZDg5NTA4LWVmMWEtNDVkNS04ZGMyLWRlOWIzODY3YmFiMy5qcGc'},
      'small': {'url': 'https://cdn-images.welcometothejungle.com/82pOBDNFfeaJ2MjCa9nBxVZTsL7PwMxbMJU2HTllgps/rs:auto:640::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy9pbWFnZS9maWxlLzE3NDEvMTY4NDUwLzQwZDg5NTA4LWVmMWEtNDVkNS04ZGMyLWRlOWIzODY3YmFiMy5qcGc'},
      'thumb': {'url': 'https://cdn-images.welcometothejungle.com/-VaYg3gdxRNBf2GmyHlP-bINpZ2IA8HplfMf2qAF6m8/rs:auto:400::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy9pbWFnZS9maWxlLzE3NDEvMTY4NDUwLzQwZDg5NTA4LWVmMWEtNDVkNS04ZGMyLWRlOWIzODY3YmFiMy5qcGc'},
      'url': 'https://cdn-images.welcometothejungle.com/GSt5DLCrfprWxHfPNjVp7Gw4s1RnZTDA_mDP9mn3b58/rs:auto:2000::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy9pbWFnZS9maWxlLzE3NDEvMTY4NDUwLzQwZDg5NTA4LWVmMWEtNDVkNS04ZGMyLWRlOWIzODY3YmFiMy5qcGc'},
     'subtitle': None,
     'title': None}},
   {'id': 965342,
    'kind': 'video',
    'position': 1,
    'properties': {'external_reference': 'GYC2rf3TR2g',
     'image': {'large': {'url': 'https://cdn-images.welcometothejungle.com/7zyHFPs8Xw0mQ4hDIqKMpf6-k7llMG0mLxUqEgllJCI/rs:auto:1500::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS81Nzg2LzE2OTA5MC9tYXJnb192aWRlb19HRGQ4NlJ5LmpwZw'},
      'medium': {'url': 'https://cdn-images.welcometothejungle.com/3ClB5LJLsAskJIHbWatu1P6HokkgQZGGec2VYv7uCgk/rs:auto:980::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS81Nzg2LzE2OTA5MC9tYXJnb192aWRlb19HRGQ4NlJ5LmpwZw'},
      'preload': {'url': 'https://cdn-images.welcometothejungle.com/tpmuq5u1V29hPCjgwPiUMCDfVl5xcAIrAthfOE1JO-g/rs:auto:40::/q:1/bl:100/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS81Nzg2LzE2OTA5MC9tYXJnb192aWRlb19HRGQ4NlJ5LmpwZw'},
      'small': {'url': 'https://cdn-images.welcometothejungle.com/DDSZtoR1gorY9JVPpdX9Cv1732_yRNOmUZMvobB_sC0/rs:auto:640::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS81Nzg2LzE2OTA5MC9tYXJnb192aWRlb19HRGQ4NlJ5LmpwZw'},
      'thumb': {'url': 'https://cdn-images.welcometothejungle.com/OCVLnbNDvkBTAeciYkIdf0WXG0VKAAUPmWTr1xCpX3U/rs:auto:400::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS81Nzg2LzE2OTA5MC9tYXJnb192aWRlb19HRGQ4NlJ5LmpwZw'},
      'url': 'https://cdn-images.welcometothejungle.com/BYlJvKwh1KEk-hmCyJtS-knr_DOT8bbHiCNm8Mitlk8/rs:auto:2000::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy92aWRlby9pbWFnZS81Nzg2LzE2OTA5MC9tYXJnb192aWRlb19HRGQ4NlJ5LmpwZw'},
     'name': 'Rencontrez Humayun, IT Consultant',
     'organization': None,
     'reference': 'NQ0kxJ1',
     'source': 'youtube',
     'subtitle': None,
     'title': 'Rencontrez Humayun, IT Consultant',
     'display': 'modal'}},
   {'id': 223558,
    'kind': 'image',
    'position': 1,
    'properties': {'image': {'large': {'url': 'https://cdn-images.welcometothejungle.com/qRKXMzuI0EmcqSnpXWhCvbKwaj5I77LnaGGAqlc9tAs/rs:auto:1500::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy9pbWFnZS9maWxlLzE3NTMvMTY4NDUwLzRhNTdlZTllLWI0YzAtNGRhNi1hYTA5LTMwMTcwNDkzYjMzNS5qcGc'},
      'medium': {'url': 'https://cdn-images.welcometothejungle.com/g-I32w5HdVCdxeUnro9JF2dUWkZ9cpIiezNhEHc7_Ck/rs:auto:980::/q:85/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy9pbWFnZS9maWxlLzE3NTMvMTY4NDUwLzRhNTdlZTllLWI0YzAtNGRhNi1hYTA5LTMwMTcwNDkzYjMzNS5qcGc'},
      'preload': {'url': 'https://cdn-images.welcometothejungle.com/MWcQX0u8ej5M0a4yv-YsEozy4PkZplU400bRkZW9tuA/rs:auto:40::/q:1/bl:100/czM6Ly93dHRqLXByb2R1Y3Rpb24vdXBsb2Fkcy9pbWFnZS9maWxlLzE3NTMvMTY4NDUwLzRhNTdlZTllLWI0YzAtNGRhNi1hYTA5LTMwMTcwNDkzYjMzNS5qcGc'},

In [6]:
from bs4 import BeautifulSoup
import pandas as pd
def clean_html(text):
    soup = BeautifulSoup(text, "html.parser")
    cleaned_text = soup.get_text(separator=" ")
    cleaned_text = cleaned_text.replace("\xa0", " ")
    return cleaned_text

df["description"] = df["description"].apply(clean_html)
df["organization.description"] = df["organization.description"].apply(clean_html)

In [7]:
df.to_csv("WTT_offers.csv")

In [8]:
df = pd.read_csv("WTT_offers.csv")

In [9]:
df

,salary_max,salary_period,contract_type,published_at,name,education_level,updated_at,description,contract_duration_min,apply_url,...,office.district,office.latitude,office.longitude,office.zip_code,profession.category.fr,organization.average_age,organization.creation_year,organization.default_language,organization.description,organization.industry
0,NaN,none,FULL_TIME,2023-11-24T15:39:05.887634Z,Margo Analytics - Data Engineer - H/F,BAC_5,2023-11-24T15:39:05.900748Z,Margo Analytics est l'entité experte de Margo...,NaN,https://jobs.lever.co/margo-group/dfd990e5-a46...,...,Paris,48.879700,2.323810,75008.0,Tech,30.0,2005,fr,"Plus qu’un simple groupe de conseil IT, MARGO ...","Software, IT / Digital"
1,NaN,none,INTERNSHIP,2023-12-19T14:02:47.012338Z,Stage - Data Analyst F/H,BAC_4,2023-12-19T14:02:47.012007Z,Vos mission “Cette mission vous donnera l’oppo...,6.0,http://app.mytalentplug.com/redirection.aspx?o...,...,Rhône,45.751400,4.875920,69003.0,Tech,44.0,1994,fr,Orange a besoin de vous pour conquérir de nouv...,"Connected Objects, Big Data, Electronics / Tel..."
2,NaN,none,INTERNSHIP,2023-12-19T13:41:13.692013Z,Data analyst et business analyst - Stage,BAC_5,2023-12-19T13:41:13.701908Z,Véritable interface entre l’équipe technique e...,6.0,NaN,...,Paris,48.876020,2.339440,75009.0,Tech,30.0,2017,fr,"Lancée en 2017 par une infirmière, libheros es...","SaaS / Cloud Services, Health, Home Care Servi..."
3,2000.0,monthly,INTERNSHIP,2023-12-19T11:00:56.681677Z,Data Analyst - Internship - Paris,BAC_4,2023-12-19T11:00:56.690318Z,About Stockly Stockly is a retail-tech company...,5.0,NaN,...,Paris,48.868570,2.345700,75002.0,Tech,28.0,2018,fr,🔭 Stockly is a tech-retail company solving...,"Software, E-commerce"
4,NaN,none,INTERNSHIP,2023-12-19T10:31:50.713030Z,Intern - Sales Operations and Data Analyst,NaN,2023-12-19T10:37:19.080261Z,Mission You will be part of the Operations tea...,6.0,https://careers.gitguardian.com/jobs/3461341-i...,...,Paris,48.866400,2.343510,75002.0,Support,33.0,2017,en,GitGuardian is a global post-series B cybersec...,"IT / Digital, SaaS / Cloud Services, Cyber Sec..."
5,NaN,none,INTERNSHIP,2023-12-19T10:34:56.955436Z,Stagiaire Data Analyst (H/F) en Stage,NaN,2023-12-19T10:34:56.974415Z,Dans le cadre de sa campagne de stage AXA recr...,NaN,https://recrutement.axa.fr/nos-offres-emploi/2...,...,Hauts-de-Seine,48.896581,2.223766,92727.0,Tech,41.0,1985,fr,Avec 6 000 recrutements par an en France rejoi...,"Banking, Insurance, FinTech / InsurTech"
6,NaN,none,FULL_TIME,2023-12-19T10:38:57.473651Z,Data Privacy Analyst F/H,NaN,2023-12-19T10:38:57.491705Z,"Data Privacy Specialist F/H Paris, France Le c...",NaN,https://recrutement.axa.fr/nos-offres-emploi/2...,...,Paris,48.875130,2.337890,75009.0,Support,41.0,1985,fr,Avec 6 000 recrutements par an en France rejoi...,"Banking, Insurance, FinTech / InsurTech"
7,NaN,none,FULL_TIME,2023-12-19T10:37:34.871011Z,Investment & Finance Data Analyst,NaN,2023-12-19T10:37:34.880402Z,AXA IM est un gestionnaire d'actifs internatio...,NaN,https://recrutement.axa.fr/nos-offres-emploi/2...,...,Hauts-de-Seine,48.877250,2.244160,92400.0,Audit / Finance / Assurance,41.0,1985,fr,Avec 6 000 recrutements par an en France rejoi...,"Banking, Insurance, FinTech / InsurTech"
8,NaN,none,FULL_TIME,2023-12-19T10:38:46.735385Z,Data Analyst (F/H),BAC_5,2023-12-19T10:38:46.752093Z,Dans un contexte multi-sites avec plus de 4 mi...,NaN,https://recrutement.axa.fr/nos-offres-emploi/2...,...,Hauts-de-Seine,48.869798,2.219033,NaN,Relation client,41.0,1985,fr,Avec 6 000 recrutements par an en France rejoi...,"Banking, Insurance, FinTech / InsurTech"
9,NaN,none,INTERNSHIP,2023-12-19T10:38:33.102804Z,Data Analyst Transformation (H/F) en stage,NaN,2023-12-19T10:38:33.111629Z,Dans le cadre de sa campagne de stage AXA recr...,NaN,https://recrutement.axa.fr/nos-offres-emploi/2...,...,Hauts-de-Seine,48.896581,2.223766,92727.0,Tech,41.0,1985,fr,Avec 6 000 recrutements par an en France rejoi...,"Banking, Insurance, FinTech / InsurTech"
10,NaN,none,INTERNSHIP,2023-12-19T10:38:42.309036Z,Data analyst Power BI (H/F) en Stage,NaN,2023-12-19T10:38:42.316189Z,Dans le cadre de sa campagne de stage AXA recr...,NaN,https://recrutement.axa.fr/nos-offres-emploi/2...,...,Hauts-de-Seine,48.896581,2.223766,92727.0,Tech,41.0,1985,fr,Avec 6 000 recrutements par an en France rejoi...,"Banking, Insurance, FinTech / InsurTech"
11,NaN,none,FULL_TIME,2023-12-19T10:37:27.691431Z,Senior Business Data Analyst Operations,NaN,2023-12-19T10:37:27.700366Z,AXA IM est un gestionnaire d'actifs internatio...,NaN,https://recrutement.axa.fr/nos-offres-emploi/2...,...,Hauts-de-Seine,48.877250,2.244160,92400.0,Tech,41.0,1985,fr,Avec 6 000 recrutements par an en France rejoi...,"Banking, Insurance, FinTech / InsurTech"
12,NaN,none,INTERNSHIP,2023-12-19T10:37:53.328763Z,Internship - Financial Data Analyst - (M/F) - ...,NaN,2023-12-19T10:37:53.336023Z,"Whatever their stage of life, we provide over ...",NaN,https://recrutement.axa.fr/nos-offres-emploi/2...,...,Hauts-de-Seine,48.877250,2.244160,92400.0,Audit / Finance / Assurance,41.0,1985,fr,Avec 6 000 recrutements par an en France rejoi...,"Banking, Insurance, FinTech / InsurTech"
13,NaN,none,FULL_TIME,2023-12-19T10:38:14.850013Z,Senior Claims Data Analyst (H/F),NaN,2023-12-19T10:38:14.861413Z,Senior Claims Data Analyst (H/F) DÉCOUVREZ vo...,NaN,https://recrutement.axa.fr/nos-offres-emploi/2...,...,Paris,48.875130,2.337890,75009.0,Relation client,41.0,1985,fr,Avec 6 000 recrutements par an en France rejoi...,"Banking, Insurance, FinTech / InsurTech"
14,1200.0,monthly,INTERNSHIP,2023-12-19T09:45:11.271982Z,STAGE - Data Analyst (H/F) - Paris,BAC_5,2023-12-19T09:45:11.271540Z,En tant que stagiaire Data Analyst rattaché au...,NaN,https://careers.flatchr.io/vacancy/vq5r6pylzkv...,...,Paris,48.828060,2.379230,75013.0,Business,30.0,2014,fr,Agriconomie.com : Le site partenaire des agric...,E-commerce
15,NaN,yearly,INTERNSHIP,2023-12-18T23:45:31.747292Z,Stagiaire Data Analyst F/H,BAC_3,2023-12-18T23:45:31.746992Z,"Au sein de l'équipe Data, vous intervenez en t...",3.0,https://offres.u-emploi.com/fr/annonce/2708247...,...,Loire-Atlantique,47.285990,-1.452340,44470.0,Tech,43.0,2011,fr,U IRIS est la Direction des Systèmes d’Informa...,"Mobile Apps, Software, Big Data"
16,NaN,none,FULL_TIME,2023-12-18T23:00:39.026085Z,Data Analyst Dataiku H/F,NaN,2023-12-18T23:00:39.037190Z,"Au sein d'une équipe dynamique, vous aurez à v...",NaN,https://www.extia-group.com/join-us/job-offer-...,...,Paris,48.857180,2.341410,NaN,Tech,31.0,2007,fr,Société de conseil spécialisée dans les métier...,"Specialised Engineering, IT / Digital, Strategy"
17,NaN,none,FULL_TIME,2023-12-18T22:07:50.857215Z,Data Analyst Senior F/H,NaN,2023-12-18T22:07:50.856937Z,Dans le cadre d’un large projet interne de dig...,NaN,https://jobs.smartrecruiters.com/EPSA/74399995...,...,Paris,48.874550,2.322720,75008.0,Tech,33.0,2001,fr,"Le groupe EPSA, plateforme d’offres multiservi...","Organization / Management, Strategy, Change Ma..."
18,NaN,none,FULL_TIME,2023-12-18T17:20:22.158940Z,DATA ANALYST F/H,BAC_5,2023-12-18T17:20:22.158651Z,Au sein du service Fidélisation et Relation Cl...,NaN,https://c-discount.contactrh.com/jobs/10425/42...,...,Gironde,44.883830,-0.557170,33000.0,Tech,38.0,1998,fr,"Cdiscount : Inventez tout, révélez-vous ! Cdi...","Logistics, SaaS / Cloud Services, E-commerce"
19,NaN,none,FULL_TIME,2023-12-18T16:43:35.469824Z,Data Analyst,NaN,2023-12-18T16:43:35.484114Z,Context on the Data Integration Data is a corn...,NaN,NaN,...,Paris,48.872350,2.343290,75009.0,Tech,34.0,2018,en,Seyna’s vision is bold and long term - they ar...,"Artificial Intelligence / Machine Learning, In..."
20,NaN,none,INTERNSHIP,2023-12-18T14:17:07.106942Z,Data Analyst - Stage - Paris,NaN,2023-12-18T14:17:07.119291Z,Travailler chez papernest : définition. Cer...,NaN,https://careers.papernest.com/jobs/3240543-dat...,...,Paris,48.898163,2.378094,75019.0,Tech,28.0,2015,en,We are papernest Our ambition? To be the one a...,"Mobile Apps, Commercial Real Estate, Residenti..."
21,NaN,none,FULL_TIME,2023-12-18T14:18:04.242448Z,Data Analyst (Growth),NaN,2023-12-18T14:18:32.832569Z,"Challenges: As a Data Analyst, you: - Ensure a...",NaN,NaN,...,Paris,48.872120,2.304900,75008.0,Tech,28.0,2015,en,Yubo is a live social discovery app launched i...,Mobile Apps
22,NaN,yearly,FULL_TIME,2023-12-18T13:46:01.939438Z,Data Analyst Senior (F/H),BAC_5,2023-12-18T13:46:01.939136Z,Au sein du département Supply Chain France et ...,NaN,https://www.aplitrak.com/?adid=cy5raGVtbm91Ljc...,...,Hauts-de-Seine,48.877250,2.244160,NaN,Business,NaN,1880,fr,Tarkett est un leader mondial français des sol...,Building / Public Works
23,55000.0,yearly,FULL_TIME,2023-12-18T11:39:53.263845Z,Data Analyst Confirmé.e,BAC_5,2023-12-18T14:57:30.448073Z,“ Donne vie aux chiffres ! En tant que Data A...,NaN,NaN,...,Paris,48.873930,2.353060,75010.0,Tech,29.0,2012,fr,"Fondée en 2012, WizVille est leader des Platef...","Software, SaaS / Cloud Services"
24,NaN,none,FULL_TIME,2023-12-18T10:28:44.831695Z,Consutlant(e) Senior Data Analyst - WiTADA,NaN,2023-12-18T10:28:44.842006Z,Dans le cadre du lancement de notre nouvelle e...,NaN,NaN,...,Paris,48.871790,2.310220,75008.0,Tech,31.0,2018,fr,Wivoo est LA référence en conseil dans le Prod...,"IT / Digital, Organization / Management, Digital"
25,1500.0,monthly,INTERNSHIP,2023-12-18T09:47:25.603236Z,Business & Data Analyst – Stage,BAC_5,2023-12-18T09:47:25.613656Z,Foxintelligence recherche un stagiaire analys...,6.0,https://apply.workable.com/j/CA1037178A,...,Paris,48.870598,2.354411,75010.0,Conseil,30.0,2016,fr,"At Foxintelligence, we are data lovers ❤️‍🔥 Ou...","Strategy, SaaS / Cloud Services, Big Data"
26,NaN,none,FULL_TIME,2023-12-18T09:03:14.395183Z,Consultant.e Data Analyst Confirmé.e,BAC_5,2023-12-18T09:03:14.404300Z,Nous recherchons un.e Consultant.e Data Analys...,NaN,NaN,...,Paris,48.873210,2.337820,75009.0,Conseil,28.0,2017,fr,Elevate est la nouvelle agence de conseil déd...,"Digital Marketing / Data Marketing, IT / Digit..."
27,NaN,monthly,INTERNSHIP,2023-12-18T09:20:11.869542Z,Stage - Data analyst risques opérationnels F/H,BAC_5,2023-12-18T09:20:11.869205Z,Rattaché à la Direction des Risques Opérationn...,6.0,https://www.aplitrak.com/?adid=bWF4aW1lLmR1bm9...,...,Paris,48.846630,2.290490,NaN,Audit / Finance / Assurance,44.0,2006,fr,Une banque où vous étonner. Saviez-vous qu’en ...,"Banking, Finance"
28,NaN,none,FULL_TIME,2023-12-18T09:05:59.337815Z,Data Analyst h/f/x,BAC_5,2023-12-18T09:05:59.362938Z,En tant que Data Analyst au sein du pôle Dat...,NaN,https://grnh.se/7d2b06132us,...,Paris,48.866590,2.371080,75011.0,Tech,31.0,2014,fr,Bienvenue dans la nouvelle ère de l’Open Banki...,"Software, FinTech / InsurTech, SaaS / Cloud Se..."
29,NaN,none,FULL_TIME,2023-12-18T09:47:50.405634Z,Data Analyst,BAC_5,2023-12-18T09:47:50.418856Z,Foxintelligence recherche un Data (Quality) A...,NaN,https://apply.workable.com/j/7129CAD070,...,Paris,48.870598,2.354411,75010.0,Tech,30.0,2016,fr,"At Foxintelligence, we are data lovers ❤️‍🔥 Ou...","Strategy, SaaS / Cloud Services, Big Data"
30,48000.0,yearly,FULL_TIME,2023-12-18T09:17:28.787867Z,Data Analyst Confirmé(e) H/F - Lyon,BAC_5,2023-12-18T09:17:28.797069Z,Dans le cadre de notre croissance et pour répo...,NaN,NaN,...,Rhône,45.739030,4.835740,69007.0,Tech,30.0,2017,fr,evoteo est une entreprise de prestation spécia...,"Artificial Intelligence / Machine Learning, IT..."